<html>
    <head>
        <title>Password incorrecta</title>
        <script>
            confirm('Password incorrecta!')
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>