<section>
    <h2>Crie a sua própria sala</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-pass">Insira um password</label>
        <input type="password" name="password" id="room-pass" placeholder="Insira um password">
        <button>
            <img src="images/usersBranco.svg" alt="Criar sala">
            Criar sala
        </button>
    </form>
</section>