<div class="no-questions">
    <img src="/images/no-Questions.svg" alt="Sem Perguntas" />
    <p>Nenhuma pergunta por aqui...</p>        
    <p>Faça a sua primeira pergunta e envie o<br/>código desta sala para outras pessoas!</p>
</div>